{% extends 'base.html.twig' %}

{% block title %}Hello RechercheController!{% endblock %}

{% block body %}


<div class="alert alert-success" role="alert">Résultat de votre recherche: <span><strong>{{titre}}</strong> </span></div>
    
    
{% for key in data|keys %}
       
    
    <section class="py-4 py-xl-5">
    <div class="container">
        <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="text-white p-4 p-md-5">
                    
                        <p>{{data[key]['title']}}</>
                        <p class="mb-4">
                            {{data[key]['overview']}}
    
                        </p>
                         <div class="my-3">
                                <a class="btn btn-primary btn-lg me-2"
                                   role="button"
                                   href="/download?title={{data[key]['title']}}">Télécharger</a>
                                <a class="btn btn-light btn-lg" role="button" href="#">Voir plus</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="{{data[key]['backdrop_path']}}" /></div>
            </div>
        </div>
    </div>  
</section>
{% endfor %}
    
 

{% endblock %}
