{% extends 'base.html.twig' %}
{% block javascripts %}

    <script src="yggTorrentApi.js">
    
        

    </script>
{% endblock %}

{% block body %}

    {{idSerie}}
 <div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2>TITRE : nb saison</h2>
        <p class="w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
    </div>
</div>
   
  
    

        {% for key in seasons|keys %}

     
           
                <div class="d-flex d-flex d-flex justify-content-center">
                    <div class="w-10"><img class="rounded img-fluid d-block w-10 fit-cover" style="height: 200px;" src="{{seasons[key]['poster_path']}}" /></div>
                    <div class="py-4 py-lg-0 px-lg-4">
                        <h4>{{seasons[key]['name']}}</h4>
                        <p>Date de sortie : {{seasons[key]['air_date']}}</p>
                        <p>Nombre d'épisode : {{seasons[key]['episode_count']}}</p>
                        <a  type="button" class="btn btn-primary">Télécharger</a>
                    </div>
                </div>
            
         
           
       
             
           
       </br>
      {% endfor %}  
    </br>
            
  



{% endblock %}